---
title: One Post Simply
section: Blog
description: This is an example post from a single GitHub Gist!
---
<blockquote cite="http://assemble.io">
  <p>{{{description}}}</p>
</blockquote>

{{#markdown}}Content below this line is entirely from a Gist, embedded using the `\{{gist}}` helper from the [handlebars-helpers](https://github.com/assemble/handlebars-helpers) library.{{/markdown}}

<br>
<hr>

{{! Markdown example }}
{{gist "cc1d5610da640bb3fbffd6efefb24bb9"}}
<hr>
{{#markdown}}# Create a Firebase Token {{/markdown}}
{{gist "88532c2448a015cbea26075241d774d3"}}
<hr>
{{gist "5854601"}}

